{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/framework/css/inzerat.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
<h1><name>kombo</name></h1>
    <id>{{ id }}</id>
    <p><dateCreated>16.2.2016</dateCreated></p>
    <description>nádherné kombo se dvěmi vstupy...</description>
    <img class="inzeratImg" src="http://www.muziker.cz/media/a501/image/file/2/0015/ohxI.ms_2.jpg"></img>

{% endblock %}