{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <td>ahoj</td>
            <td>ferko</td>
        </tr>
        <tr>
            <td>jožko</td>
            <td>miloško</td>
        </tr>
    </table>
{% endblock %}

