{# src/AppBundle/Resources/views/Security/login.html.twig #}

{% if error %}
    <div>{{ error.message }}</div>
{% endif %}

<body>
<form class="form-group" action="{{ path('login') }}" method="post">
    <label for="username">Username:</label>
    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />

    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <input type="hidden" name="_target_path" value="/" />

    <input class="btn btn-default" type="submit" name="login" />
</form>
